:root {
  --font-family: "Plus Jakarta Sans";

  --color-pale-grey: #fafafa;
  --color-darkest-primary: #072125;
  --color-primary-dark: #20484f;
  --color-primary-light: #b8e4da;
  --color-primary-lighter: #dcf2ed;
  --color-border: rgba(32, 72, 79, 0.1);
  --color-border-hover: rgba(32, 72, 79, 0.2);
  --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
